Here‚Äôs your recap nicely formatted in **Markdown**:

````markdown
# ‚úÖ Chapter 1 Review: Pandas & DataFrames

You've reached the end of the first chapter on **Pandas and DataFrames** ‚Äî great work! üéâ  

---

## üìå Main Takeaways

- **DataFrames** store data in **rows and columns**.  
  They can be created from **dictionaries, lists**, or imported directly from **files**.

- Use the following methods for **preliminary data exploration**:
  - `.head()` ‚Üí shows the first few rows  
  - `.tail()` ‚Üí shows the last few rows  
  - `.info()` ‚Üí shows column types and non-null counts  
  - `.describe()` ‚Üí shows summary statistics for numeric columns  

- **Select specific columns** from a DataFrame using square brackets:  
  ```python
  df['column_name']
  df[['col1', 'col2']]
````

* **Filter rows** using boolean expressions with `>`, `<`, or `==`:

  ```python
  df[df['age'] > 30]
  ```

  ‚ûï Chain conditions with:

  * `&` (AND)
  * `|` (OR)

* **Sort, rename, and add new columns** to a DataFrame:

  ```python
  df.sort_values(by="column", ascending=False)
  df.rename(columns={"old": "new"}, inplace=True)
  df['new_column'] = df['col1'] + df['col2']
  ```

---

In [1]:
import pandas as pd

# Create a DataFrame about WWII German units
data = {
    "unit_name": [
        "1st Panzer Division",
        "2nd SS Panzer Division Das Reich",
        "Luftwaffe Field Division",
        "Kriegsmarine U-Boat Flotilla",
        "Fallschirmj√§ger Regiment 1",
        "Afrika Korps",
        "Grossdeutschland Division",
        "12th SS Panzer Division Hitlerjugend",
        "21st Panzer Division",
        "6th Army"
    ],
    "branch": [
        "Wehrmacht Heer",
        "Waffen-SS",
        "Luftwaffe",
        "Kriegsmarine",
        "Luftwaffe",
        "Wehrmacht Heer",
        "Wehrmacht Heer",
        "Waffen-SS",
        "Wehrmacht Heer",
        "Wehrmacht Heer"
    ],
    "type": [
        "Armored Division",
        "Armored Division",
        "Infantry Division",
        "Naval Submarine Unit",
        "Paratrooper Regiment",
        "Armored Corps",
        "Elite Infantry Division",
        "Armored Division",
        "Armored Division",
        "Field Army"
    ],
    "famous_battles": [
        "Invasion of Poland, France 1940",
        "Operation Barbarossa, Normandy 1944",
        "Eastern Front",
        "Battle of the Atlantic",
        "Battle of Crete",
        "North African Campaign",
        "Kursk, Eastern Front",
        "Normandy 1944",
        "North Africa, Normandy",
        "Stalingrad"
    ],
    "approx_strength": [
        15000, 17000, 12000, 50, 3000, 50000, 18000, 20000, 16000, 250000
    ]
}

df=pd.DataFrame(data)
df

,unit_name,branch,type,famous_battles,approx_strength
0,1st Panzer Division,Wehrmacht Heer,Armored Division,"Invasion of Poland, France 1940",15000
1,2nd SS Panzer Division Das Reich,Waffen-SS,Armored Division,"Operation Barbarossa, Normandy 1944",17000
2,Luftwaffe Field Division,Luftwaffe,Infantry Division,Eastern Front,12000
3,Kriegsmarine U-Boat Flotilla,Kriegsmarine,Naval Submarine Unit,Battle of the Atlantic,50
4,Fallschirmj√§ger Regiment 1,Luftwaffe,Paratrooper Regiment,Battle of Crete,3000
5,Afrika Korps,Wehrmacht Heer,Armored Corps,North African Campaign,50000
6,Grossdeutschland Division,Wehrmacht Heer,Elite Infantry Division,"Kursk, Eastern Front",18000
7,12th SS Panzer Division Hitlerjugend,Waffen-SS,Armored Division,Normandy 1944,20000
8,21st Panzer Division,Wehrmacht Heer,Armored Division,"North Africa, Normandy",16000
9,6th Army,Wehrmacht Heer,Field Army,Stalingrad,250000

In [4]:
df['army_units']=df['branch']=='Wehrmacht Heer'
df

,unit_name,branch,type,famous_battles,approx_strength,army_units
0,1st Panzer Division,Wehrmacht Heer,Armored Division,"Invasion of Poland, France 1940",15000,True
1,2nd SS Panzer Division Das Reich,Waffen-SS,Armored Division,"Operation Barbarossa, Normandy 1944",17000,False
2,Luftwaffe Field Division,Luftwaffe,Infantry Division,Eastern Front,12000,False
3,Kriegsmarine U-Boat Flotilla,Kriegsmarine,Naval Submarine Unit,Battle of the Atlantic,50,False
4,Fallschirmj√§ger Regiment 1,Luftwaffe,Paratrooper Regiment,Battle of Crete,3000,False
5,Afrika Korps,Wehrmacht Heer,Armored Corps,North African Campaign,50000,True
6,Grossdeutschland Division,Wehrmacht Heer,Elite Infantry Division,"Kursk, Eastern Front",18000,True
7,12th SS Panzer Division Hitlerjugend,Waffen-SS,Armored Division,Normandy 1944,20000,False
8,21st Panzer Division,Wehrmacht Heer,Armored Division,"North Africa, Normandy",16000,True
9,6th Army,Wehrmacht Heer,Field Army,Stalingrad,250000,True

In [5]:
sorted_strength_data=df.sort_values(by='approx_strength',ascending=False)
sorted_strength_data

,unit_name,branch,type,famous_battles,approx_strength,army_units
9,6th Army,Wehrmacht Heer,Field Army,Stalingrad,250000,True
5,Afrika Korps,Wehrmacht Heer,Armored Corps,North African Campaign,50000,True
7,12th SS Panzer Division Hitlerjugend,Waffen-SS,Armored Division,Normandy 1944,20000,False
6,Grossdeutschland Division,Wehrmacht Heer,Elite Infantry Division,"Kursk, Eastern Front",18000,True
1,2nd SS Panzer Division Das Reich,Waffen-SS,Armored Division,"Operation Barbarossa, Normandy 1944",17000,False
8,21st Panzer Division,Wehrmacht Heer,Armored Division,"North Africa, Normandy",16000,True
0,1st Panzer Division,Wehrmacht Heer,Armored Division,"Invasion of Poland, France 1940",15000,True
2,Luftwaffe Field Division,Luftwaffe,Infantry Division,Eastern Front,12000,False
4,Fallschirmj√§ger Regiment 1,Luftwaffe,Paratrooper Regiment,Battle of Crete,3000,False
3,Kriegsmarine U-Boat Flotilla,Kriegsmarine,Naval Submarine Unit,Battle of the Atlantic,50,False

In [12]:
heer_panzer_divisions=df[(df['unit_name'].str.contains('Panzer')) & (df['army_units']==True)]
wafen_ss_panzer_divisions=df[(df['unit_name'].str.contains('Panzer')) & (df['army_units']==False)]

In [13]:
heer_panzer_divisions

,unit_name,branch,type,famous_battles,approx_strength,army_units
0,1st Panzer Division,Wehrmacht Heer,Armored Division,"Invasion of Poland, France 1940",15000,True
8,21st Panzer Division,Wehrmacht Heer,Armored Division,"North Africa, Normandy",16000,True

In [11]:
wafen_ss_panzer_divisions

,unit_name,branch,type,famous_battles,approx_strength,army_units
1,2nd SS Panzer Division Das Reich,Waffen-SS,Armored Division,"Operation Barbarossa, Normandy 1944",17000,False
7,12th SS Panzer Division Hitlerjugend,Waffen-SS,Armored Division,Normandy 1944,20000,False